<h1><%= @author.full_name %></h1>

<%= image_tag @author.author_img %>

<div>
  <h2>Biography</h2>
  <p><%= @author.bio %></p>

  <h3>Quote</h3>
  <quote><%= @author.quotes %></quote>

</div>

<div>
  <h4>Books by <%= @author.full_name %></h4>
  <% if @author.books.any? %>
  <ul>
    <% @author.books.each do |book| %>
      <li><%= book.title %></li>
    <% end %>
  </ul>
<% else %>
  <p>There were no books added, written by <%= @author.full_name %></p>
<% end %>
</div>

<hr>
<%= link_to "[Delete]", author_path(@author.id), method: :delete, data: { confirm: "Are you sure?" } %>

<%= link_to "[Edit]", edit_author_path(@author.id) %>

<hr>

<%= link_to "All Authors", "/authors" %>
