<h1><%= @author.full_name %></h1>

<%= image_tag @author.author_img %>

<div>
  <h2>Biography</h2>
  <p><%= @author.bio %></p>

  <h3>Quote</h3>
  <quote><%= @author.quotes %></quote>

</div>

<hr>
<%= link_to "[Delete]", author_path(@author.id), method: :delete, data: { confirm: "Are you sure?" } %>

<hr>

<%= link_to "All Authors", "/authors" %>
