<div class="container"><h1>Welcome to My Best Read</h1>
  <h2>Your private profile on Best Read</h2>

  <article><h3>The last four books you've read</h3>
    <div>
      <ul>
      <% @readbooks.each do |readbook| %>
      <li><%= image_tag readbook.cover_img, size: "90x134"%>
        <div>
          <%= readbook.author.full_name %>
          <%= readbook.year %></li>
        </div>
      <% end %>
      </ul>
    </div>

    <div>
      <p>Read a new book? Add it here! </p><%= link_to "[Add New Book]", new_book_path %>

      <hr>

      <h3>Books on your wishlist</h3>
      <ul>
      <% @wishbooks.each do |wishbook| %>
      <li><%= image_tag wishbook.cover_img, size: "90x134"%>
        <div>
          <%= wishbook.author.full_name %>
          <%= wishbook.year %>
        </div></li>
      <% end %>
      </ul>
    </div>
    </article>
  </div>
