<%= form_for @book do |f| %>

  <ul>
    <% @book.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
  </ul>

  <%= f.label :title, "Book Title" %>
  <%= f.text_field :title %>

  <%= f.label :author_id, "Author" %>
  <%= f.collection_select(:author_id, Author.all, :id, :full_name) %>

  <%= f.label :year %>
  <%= f.number_field :year %>

  <%= f.label :cover_img, "Add Book Cover" %>
  <%= f.text_field :cover_img %>

  <%= f.label :desc, "Description" %>
  <%= f.text_area :desc, size: "60x30" %>

  <%= f.label :pages %>
  <%= f.number_field :pages %>

  <%= f.label :isbn, "ISBN" %>
  <%= f.text_field :isbn %>

  <%= f.submit (@book.new_record? ? "Create" : "Update")  %>
<% end %>
