<%= form_for @book do |f| %>

  <ul class="error">
    <% @book.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
  </ul>

  <%= f.label :title, "Book Title", class: "title" %>
  <%= f.text_field :title, class: "title" %>

  <%= f.label :author_id, "Author", class: "author" %>
  <%= f.collection_select(:author_id, Author.all, :id, :full_name) %>

  <%= f.label :year, class: "year" %>
  <%= f.number_field :year, class: "year" %>

  <%= f.label :cover_img, "Add Book Cover", class: "cover" %>
  <%= f.text_field :cover_img, class: "cover" %>

  <%= f.label :desc, "Description", class: "description" %>
  <%= f.text_area :desc, size: "60x30", class: "description" %>

  <%= f.label :pages, class: "pages" %>
  <%= f.number_field :pages, class: "pages" %>

  <%= f.label :isbn, "ISBN", class: "isbn" %>
  <%= f.text_field :isbn, class: "isbn" %>

  <%= f.submit (@book.new_record? ? "Create" : "Update")  %>
<% end %>
