<h1><%= @book.title %></h1>
<p> Year: <%= @book.year %></p>
<%= image_tag @book.cover_img%>
<p> Description: <%= @book.desc %></p>
<p> Pages: <%= @book.pages %></p>
<p> ISBN: <%= @book.isbn %></p>

<%= link_to "Edit Book", edit_book_path(@book.id) %>
