<!DOCTYPE html>
<html>
  <head>
    <title>Bestread</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
<!-- begin header -->
    <header>
      <%= link_to (image_tag "#{root_path}app/assets/images/arrow.png"), root_path %>

<!--Nav bar  -->
      <nav>
        <li><%= link_to "Home", root_path %></li>
        <li><%= link_to "MyBestRead", mybestread_path %></li>
        <li><%= link_to "All Authors", "/authors" %></li>
        <li><%= link_to "All Books", "/books" %></li>
      </nav>

    </header>
<!-- end header  -->

    <%= yield %>
  </body>
</html>
