<!DOCTYPE html>
<html>
  <head>
    <title>Bestread</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <%= link_to (image_tag "#{root_path}app/assets/images/arrow.png"), root_path %>
      <%= link_to "MyBestRead", mybestread_path %>
    </header>
    <%= yield %>
  </body>
</html>
